/* Header */
.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  font-weight: 600;
  color: #4d4d4d;
  text-decoration: none;
  margin: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #161616;
}

.logo {
  margin: 0;
  width: 200px;
}

/* Footer */
footer {
  text-align: center;
	padding: 2rem;
	color: #AAAAAA;
	background-color: #252525;
}
/* MISC */
button{
  transition: transform .1s ease-in-out;;
}
button:hover{
	cursor: pointer;
	transform: translate(1px, 1px);
}
